#LoadModule rewrite_module modules/mod_rewrite.so
#<Directory />
#    Options FollowSymlinks
#    AllowOverride None
#    Order deny,allow
#    Deny from all
#    Satisfy all
#</Directory>

RewriteEngine on
RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1